body {
  /* background-color: #000; */
  /* color: #fff;  */
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.shake {
  animation: shake 0.5s;
}

.red {
  border: 2px solid red;
}